*, ::after, ::before {
    box-sizing: border-box;
}

main{
    height: 90vh;
}

.card-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    width: 80vw;
    height: 100%;
    background-color: #e9ecef;
    border-radius: 1%;
    box-shadow: 0 0 10px black;
}

section{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

form{
    height: 100%;
}

.form-row>.column, .form-row>[class*=column-] {
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
}

.form-group {
    margin-bottom: 1rem;
}

.column-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
}

.column-form-label {
    padding-top: calc(.5rem + 1px);
    padding-bottom: calc(.5rem + 1px);
    font-size: 1.25rem;
    line-height: 1.5;
}

label {
    display: inline-block;
    position: relative;
    padding-right: 15px;
    padding-left: 15px
}

.margin-bottom {
    margin-bottom: .5rem!important;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}
.form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-append, .input-group-prepend {
    display: flex;
}



.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 40px;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin-right: -15px;
    margin-left: -15px;
}

@media only screen and (max-width: 650px) {
    .form-row{
        flex-direction: column;
    }
    .column-auto{
        width: 100%;
    }

    form{
        height: max-content;
    }

    .card-container{
        height: max-content;
    }
}


.justify-content-center{
    justify-content: center;
}